<meta charset="utf-8" />
	<aside xmlns:th="http://www.thymeleaf.org"
		class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3 bg-gradient-dark" id="sidenav-main">
		<div class="sidenav-header">
			<i class="fas fa-times p-3 cursor-pointer text-white opacity-5 position-absolute end-0 top-0 d-none d-xl-none" aria-hidden="true" id="iconSidenav"></i> 
			<a class="navbar-brand m-0 text-center" target="_blank">  
				<span class="ms-1 font-weight-bold text-white">
					
					<span class="pl-5 ml-5">QUẢN TRỊ VIÊN</span>
				</span>
			</a>
		</div>
		<hr class="horizontal light mt-0 mb-2">
		<div class="collapse navbar-collapse  w-auto " style="height: 100%" id="sidenav-collapse-main">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link text-white " th:href="@{|/admin/order/Processing|}">
						<div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
							<i class="material-icons opacity-10">dashboard</i>
						</div> 
						<span class="nav-link-text ms-1">Đơn Hàng</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-white " th:href="|/admin/nhanvien|">
						<div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
							<i class="material-icons opacity-10">table_view</i>
						</div> 
						<span class="nav-link-text ms-1">Nhân Viên</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-white " th:href="|/admin/khachhang|">
						<div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
							<i class="material-icons opacity-10">person</i>
						</div> 
						<span class="nav-link-text ms-1">Khách Hàng</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-white" th:href="|/admin/sanpham|">
						<div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
							<i class="material-icons opacity-10">receipt_long</i>
						</div> 
						<span class="nav-link-text ms-1">Sản Phẩm</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-white " th:href="|/admin/hinhanh|">
						<div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
							<i class="material-icons opacity-10">image</i>
						</div> 
						<span class="nav-link-text ms-1">Sản Phẩm - Hình Ảnh</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-white " th:href="|/admin/loaiSP|">
						<div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
							<i class="material-icons opacity-10">category</i>
						</div> 
						<span class="nav-link-text ms-1">Loại Sản Phẩm</span>
					</a>
				</li>	
				<li class="nav-item">
					<a class="nav-link text-white " th:href="|/admin/cauhinh|">
						<div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
							<i class="material-icons opacity-10">receipt_long</i>
						</div> 
						<span class="nav-link-text ms-1">Sản Phẩm - Cấu Hình</span>
					 </a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-white " th:href="|/admin/binhluan|">
						<div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
							<i class="material-icons opacity-10">person</i>
						</div> 
						<span class="nav-link-text ms-1">Bình luận</span>
					</a>
				</li>		
				<li class="nav-item">
					<a class="nav-link text-white " th:href="|/admin/thongke|">
						<div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
							<i class="material-icons opacity-10">format_textdirection_r_to_l</i>
						</div> 
						<span class="nav-link-text ms-1">Thống Kê Doanh Thu</span>
					</a>
				</li>
				<li class="nav-item mt-3">
					<h6 class="text-uppercase text-xs text-white font-weight-bolder opacity-8">
						<hr />
					</h6>
				</li>
				<li class="nav-item">
					<a class="nav-link text-white " th:href="@{/index}">
						<div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
							<i class="material-icons opacity-10">logout</i>
						</div> 
						<span class="nav-link-text ms-1">Quay lại trang chủ</span> 
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-white " th:href="@{/form/logout}">
						<div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
							<i class="material-icons opacity-10">logout</i>
						</div> 
						<span class="nav-link-text ms-1">Đăng Xuất</span> 
					</a>
				</li>
			</ul>
		</div>
	</aside>