article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
main {
    display: block;
}
body {
    font-family: Sans-serif,SanFranciscoDisplay;
    background: #fff;
    color: #333;
    line-height: 17px;
    position: relative;
}
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
:root {
    --ui-icon-size-xs: 26px;
    --ui-icon-size-sm: 31px;
    --ui-icon-size-md: 39px;
    --ui-icon-size-lg: 47px;
    --ui-icon-size: 39px;
    --ui-icon-service-bg-color: #ebeff2;
}
:root {
    --ui-space-inset-8xl: 72px;
    --ui-space-inset-7xl: 64px;
    --ui-space-inset-6xl: 48px;
    --ui-space-inset-5xl: 40px;
    --ui-space-inset-4xl: 36px;
    --ui-space-inset-3xl: 32px;
    --ui-space-inset-2xl: 28px;
    --ui-space-inset-xl: 24px;
    --ui-space-inset-lg: 20px;
    --ui-space-inset-md: 16px;
    --ui-space-inset-sm: 12px;
    --ui-space-inset-xs: 8px;
    --ui-space-inset-2xs: 4px;
    --ui-space-inset-3xs: 2px;
    --ui-space-inset-none: 0;
    --ui-space-inline-8xl-neg: -72px;
    --ui-space-inline-7xl-neg: -64px;
    --ui-space-inline-6xl-neg: -48px;
    --ui-space-inline-5xl-neg: -40px;
    --ui-space-inline-4xl-neg: -36px;
    --ui-space-inline-3xl-neg: -32px;
    --ui-space-inline-2xl-neg: -28px;
    --ui-space-inline-xl-neg: -24px;
    --ui-space-inline-lg-neg: -20px;
    --ui-space-inline-md-neg: -16px;
    --ui-space-inline-sm-neg: -12px;
    --ui-space-inline-xs-neg: -8px;
    --ui-space-inline-2xs-neg: -4px;
    --ui-space-inline-3xs-neg: -2px;
    --ui-space-inline-8xl: 72px;
    --ui-space-inline-7xl: 64px;
    --ui-space-inline-6xl: 48px;
    --ui-space-inline-5xl: 40px;
    --ui-space-inline-4xl: 36px;
    --ui-space-inline-3xl: 32px;
    --ui-space-inline-2xl: 28px;
    --ui-space-inline-xl: 24px;
    --ui-space-inline-lg: 20px;
    --ui-space-inline-md: 16px;
    --ui-space-inline-sm: 12px;
    --ui-space-inline-xs: 8px;
    --ui-space-inline-2xs: 4px;
    --ui-space-inline-3xs: 2px;
    --ui-space-inline-none: 0;
    --ui-space-stack-8xl-neg: -72px;
    --ui-space-stack-7xl-neg: -64px;
    --ui-space-stack-6xl-neg: -48px;
    --ui-space-stack-5xl-neg: -40px;
    --ui-space-stack-4xl-neg: -36px;
    --ui-space-stack-3xl-neg: -32px;
}
:root {
    --ui-icon-size-xs: 26px;
    --ui-icon-size-sm: 31px;
    --ui-icon-size-md: 39px;
    --ui-icon-size-lg: 47px;
    --ui-icon-size: 39px;
    --ui-icon-service-bg-color: #ebeff2;
}
html {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
:before, :after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
:before, :after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.grid-members {
    display: grid;
    grid-template-columns: 1fr 2.4fr;
    grid-gap: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}

div {
    display: block;
}

.user-menu-side {
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%);
    margin-left: 70px;
}

.user-menu-side 
.user-name {
    padding: 20px;
    display: flex;
    align-items: center;
    background: #7d9ad2;
    color: #fff;
    font-size: 16px;
}

.user-menu-side ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
ul, ol {
    margin-top: 0;
    margin-bottom: 10px;
}

li {
    list-style: none;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.user-menu-side ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
ul {
    list-style-type: disc;
}

.user-menu-side ul a {
    border-bottom: 1px solid #eee;
    padding: 10px 12px;
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #000;
    line-height: normal;
    transition: .1s ease-in-out;
}

a {
    color: #444;
}
a {
    color: #337ab7;
    text-decoration: none;
}
a {
    background-color: transparent;
}

.user-menu-side ul a i {
    color: #6d6e70;
    width: 30px;
    font-size: 18px;
    transition: .1s ease-in-out;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.user-content-side {
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 20px;
    margin-right: 70px;
}

form {
    display: block;
    padding-top: -2em;
}

.user-content-side 
.box-user {
    display: grid;
    grid-template-columns: 160px auto;
    margin-bottom: 20px;
}

.user-content-side 
.box-user 
.label-input {
    width: 160px;
    margin-bottom: 0;
    font-size: 16px;
    color: #444;
    padding-top: 8px;
    font-weight: 400;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}

.user-content-side 
.box-user input[type=text], 
.user-content-side 
.box-user input[type=password] {
    width: 390px;
    height: 40px;
    background: #fff;
    padding: 5px 20px;
    font-size: 16px;
    outline: none;
    border: 1px solid #ddd;
    box-shadow: 1px 1px 3px rgb(0 0 0 / 10%);
    border-radius: 5px;
}

.-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
input {
    border: 1px solid #a9a9a9;
}
input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
input {
    line-height: normal;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font: inherit;
    color: inherit;
}

.user-content-side 
.box-submit {
    padding-left: 160px;
    display: unset;
}

.user-content-side 
.box-user {
    display: grid;
    grid-template-columns: 160px auto;
    margin-bottom: 20px;
}

.user-content-side .box-submit a {
    border-radius: 3px;
    background: #7d9ad2;
    line-height: normal;
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    text-trans: uppercase;
    padding: 5px 20px;
    display: inline-flex;
    height: 40px;
    align-items: center;
    justify-content: center;
    width: 390px;
    transition: .1s ease-in-out;
}
a {
    color: #444;
}
a {
    color: #337ab7;
    text-decoration: none;
}
a {
    background-color: transparent;
}

.user-menu-side ul li.active a{
	background-color: #dae2f2;
}

.name{
	margin-left: 10px;
}