<meta charset="utf-8">
<div xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/layout/main :: dynamic (~{::main})}"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
	<main>
		<div class="grid-members">
			<!-- Tabs form -->
			<div class="grid-item">
				<div class="user-menu-side">
					<div class="user-name">
						<img onerror=""
							src="https://didongthongminh.vn/images/logo-user.svg"
							alt="avatar" class="img-responsive">
						<div class="name">
							Xin chào, <span sec:authentication="name"></span>
						</div>
					</div>
					<ul>
						<li class="">
							<a href="/index/thong-tin-tai-khoan"> 
								<i class="fa fa-user" aria-hidden="true"></i> Thông tin tài khoản
							</a>
						</li>
						<li class="active">
							<a href="/index/order-management"> 
								<i class="fa fa-wpforms" aria-hidden="true"></i> Chi tiết Đơn Hàng
							</a>
						</li>
						<li class="">
							<a href="/index/doimk"> 
								<i class="fa fa-lock" aria-hidden="true"></i> Đổi mật khẩu
							</a>
						</li>
						<li>
							<a href="/form/logout"> 
								<i class="fa fa-power-off" aria-hidden="true"></i> Đăng xuất
							</a>
						</li>
					</ul>
				</div>
			</div>

			<!-- Forms -->
			<div class="grid-item">
				<div class="user-content-side">
					<h2 class="member-title">Chi tiết Đơn Hàng</h2>

					<div class="list-order-member">
						<table class="table table-order-member">
							<thead>
								<tr>	
									<th>Tên sản phẩm</th>									
									<th>Đơn giá</th>
									<th>Số lượng</th>
									<th>Tổng tiền</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="ctdh: ${ctdh}">
									
									<td data-title="Mã đơn" class="id-order">[[${ctdh.masp.tenSP}]]</td>
									<td data-title="Mã đơn" class="id-order">[[${#numbers.formatDecimal(ctdh.donGia, 0, 'COMMA', 0, 'POINT')}]] VNĐ</td>
									<td data-title="Mã đơn" class="id-order">[[${ctdh.soLuong}]]</td>
									<td data-title="Mã đơn" class="id-order">[[${#numbers.formatDecimal(ctdh.soLuong * ctdh.donGia, 0, 'COMMA', 0, 'POINT')}]] VNĐ</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>

	</main>
</div>

