<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zxx">

<head>
<meta charset="UTF-8">
<meta name="description" content="Ogani Template">
<meta name="keywords" content="Ogani, unica, creative, html">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Mobile Estore</title>

<!-- Google Font -->
<link
	href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap"
	rel="stylesheet">

<!-- Css Styles -->
<link rel="stylesheet" href="/client/css/bootstrap.min.css"
	type="text/css">
<link rel="stylesheet" href="/client/css/font-awesome.min.css"
	type="text/css">
<link rel="stylesheet" href="/client/css/elegant-icons.css"
	type="text/css">
<link rel="stylesheet" href="/client/css/nice-select.css"
	type="text/css">
<link rel="stylesheet" href="/client/css/jquery-ui.min.css"
	type="text/css">
<link rel="stylesheet" href="/client/css/owl.carousel.min.css"
	type="text/css">
<link rel="stylesheet" href="/client/css/slicknav.min.css"
	type="text/css">
<link rel="stylesheet" href="/client/css/style.css" type="text/css">
<link rel="stylesheet" href="/client/css/comment.css" type="text/css">


</head>

<body>

	<!-- Header header Begin -->
	<header class="header">
		<div th:replace="/layout/header"></div>
	</header>
	<!-- Header header End -->
	
	<!-- comment client start-->
	<div class="container">
		
		<!-- button show/hide -->
		<div class="d-flex justify-content-start">
			<button id="buttonToggle" class="btn btn-outline-primary">Viết bình luận</button>
		</div>

		<!-- form -->
		<div class=" d-flex justify-content-center mb-2">
			<form action="#" class="w-75" id="panelToggle" >
				<div class="row">
					<div class="col-1 d-flex justify-content-center align-items-center">
						<i class="fa fa-user-circle" aria-hidden="true"></i>
					</div>
					<div class="col-9">
						<input type="text" class="form-control" placeholder="Tên hiện thị" id="name">
					</div>
					<div class="col-2">
						<button type="button" id="addComment" class="btn btn-primary">Post</button>
						<button type="button" id="addComment" class="btn btn-danger">Cancel</button>
					</div>
				</div>
				<div class="form-group">
					<input type="date" class="form-control"
						placeholder="Enter password" id="date" hidden="true">
				</div>
				<div class="form-group">
					<textarea rows="5" cols="5" class="form-control"
						placeholder="Nội dung bình luận ..." id="body"></textarea>
				</div>
			</form>
		</div>
		<!-- comment -->
		<div class=" d-flex justify-content-center">
			<div class="commentBox w-75">
				<div class="comment-list"></div>
			</div>
		</div>
	</div>
	<!-- comment client end -->
	
	<!-- Footer Section Begin -->
	<footer class="footer spad">
		<div th:replace="/layout/footer"></div>
	</footer>
	<!-- Footer Section End -->

	<!-- Js Plugins -->
	<script src="/client/js/jquery-3.3.1.min.js"></script>
	<script src="/client/js/bootstrap.min.js"></script>
	<script src="/client/js/jquery.nice-select.min.js"></script>
	<script src="/client/js/jquery-ui.min.js"></script>
	<script src="/client/js/jquery.slicknav.js"></script>
	<script src="/client/js/mixitup.min.js"></script>
	<script src="/client/js/owl.carousel.min.js"></script>
	<script src="/client/js/main.js"></script>
	<script src="/client/js/comment.js"></script>



</body>

</html>
