<div xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/main :: dynamic (~{::main})}">
	<main>
    <!--  -->
    <div class="hero">
      <div class="container">

        <div id="layoutSidenav">
          <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
              <div class="sb-sidenav-menu">
                <div class="nav ">
                  <div class="menu-bara">
                    <div class="sb-sidenav-menu-heading"><img src="/client/img/account.png" height="25px"></div>
                    <div class="sb-sidenav-menu-heading">Tài khoản</div> 
                </div>

                  <a class="nav-link" href="index.html">
                    <div class="sb-nav-link-icon">
                      <i class="fas fa-tachometer-alt"></i>
                    </div>
                    Thông tin tài khoản
                  </a>

                  <a class="nav-link" href="index.html">
                    <div class="sb-nav-link-icon">
                      <i class="fas fa-tachometer-alt"></i>
                    </div>
                    Quản lý đơn hàng
                  </a>

                  <a class="nav-link" href="index.html">
                    <div class="sb-nav-link-icon">
                      <i class="fas fa-tachometer-alt"></i>
                    </div>
                    Quên mật khẩu
                  </a>

                  <a class="nav-link" href="index.html">
                    <div class="sb-nav-link-icon">
                      <i class="fas fa-tachometer-alt"></i>
                    </div>
                    Đổi mật khẩu
                  </a>

                  <a class="nav-link" href="index.html">
                    <div class="sb-nav-link-icon">
                      <i class="fas fa-tachometer-alt"></i>
                    </div>
                    Đăng nhập
                  </a>

                  <a class="nav-link" href="index.html">
                    <div class="sb-nav-link-icon">
                      <i class="fas fa-tachometer-alt"></i>
                    </div>
                    Đăng ký
                  </a>

                  <a class="nav-link" href="index.html">
                    <div class="sb-nav-link-icon">
                      <i class="fas fa-tachometer-alt"></i>
                    </div>
                    Đăng xuất
                  </a>

            </nav>
          </div>
          <div id="layoutSidenav_content">
            <main>
              <div class="container-fluid px-4">
                <h1 class="mt-4">Đổi mật khẩu</h1>
                <ol class="breadcrumb mb-4">
                  <li class="breadcrumb-item active"><hr></li>
                </ol>
              </div>
              <!--  -->
              <div class="container-fluid px-4">
                <div class="container-accout">
                <form action="/action_page.php">

                      <div class="mb-3">
                        <label for="name" class="form-label">Tài khoản:</label>
                          <input
                            type="text" 
                            class="form-control"
                            
                            placeholder="Nhập tài khoản "
                            
                          />
                  </div>

                    <div class="mb-3 ">
                      <label for="email" class="form-label">Mật khẩu cũ:</label>
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Nhập mật khẩu cũ"           
                        />
                    </div>
                
                      <div class="mb-3">
                        <label for="number" class="form-label">Mật khẩu mới:</label>
                            <input
                              type="text"
                              class="form-control"
                              placeholder="Nhập mật khẩu mới"
                            />
                  </div>

                    <div class="mb-3">
                      <label for="Address" class="form-label">Nhập lại mật khẩu:</label>
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Nhập lại mật khẩu "
                        />
                    </div>
                  <button type="submit" class="btn btn-primary">Cập nhật</button>
                </form>
              </div>
              </div>
            </main>
          </div>
        </div>

      </div>
    </div>
	<!-- Hero Section End -->
	</main>
</div>
