<div xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/main :: dynamic (~{::main})}">
	<main>
		<div class="grid-members">
			<!-- Tabs form -->
			<div class="grid-item">
				<div class="user-menu-side">
					<div class="user-name">
						<img onerror="" src="https://didongthongminh.vn/images/logo-user.svg" alt="avatar" class="img-responsive">
						<div class="name">
							Xin chào, <span>codvps18948</span>
						</div>
					</div>
					<ul>
						<li class="">
							<a href="/account-information"> 
								<i class="fa fa-user" aria-hidden="true"></i> Thông tin tài khoản
							</a>
						</li>
						<li class="">
							<a href="/order-management"> 
								<i class="fa fa-wpforms" aria-hidden="true"></i> Quản lý đơn hàng
							</a>
						</li>
						<li class="active">
							<a href="/change-password"> 
								<i class="fa fa-lock" aria-hidden="true"></i> Đổi mật khẩu
							</a>
						</li>
						<li class="">
							<a href="/forgot-password"> 
								<i class="fa fa-unlock" aria-hidden="true"></i> Quên mật khẩu
							</a>
						</li>
						<li>
							<a href="#"> 
								<i class="fa fa-power-off" aria-hidden="true"></i> Đăng xuất
							</a>
						</li>
					</ul>
				</div>
			</div>
			
			<!-- Forms -->
			<div class="grid-item">
				<div class="user-content-side">
					<h2 class="member-title">Đổi Mẩt Khẩu</h2>
					<hr/>
					<form action="" method="post" name="frmUser" id="frmUser" enctype="multipart/form-data">
						<div class="box-user">
							<label class="label-input" for="u_name">Tài khoản</label> <input
								type="text" name="u_name" id="u_name" value="codvps18948"
								placeholder="Họ và tên" class="form-control">
						</div>
						<div class="box-user">
							<label class="label-input" for="u_tel">Mật khẩu cũ</label> <input
								type="password" name="u_tel" id="u_tel" value=""
								placeholder="Mật khẩu cũ" class="form-control">
						</div>
						<div class="box-user">
							<label class="label-input" for="u_tel">Mật khẩu mới</label> <input
								type="password" name="u_tel" id="u_tel" value=""
								placeholder="Mật khẩu mới" class="form-control">
						</div>
						<div class="box-user">
							<label class="label-input" for="u_tel">Nhập lại mật khẩu</label> <input
								type="password" name="u_tel" id="u_tel" value=""
								placeholder="Nhập lại mật khẩu" class="form-control">
						</div>
						<div class="box-user box-submit">
							<a href="#" class="submit-btn"
								onclick="">Cập nhật</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</main>
</div>