<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zxx">

<head>
<meta charset="UTF-8">
<meta name="description" content="Ogani Template">
<meta name="keywords" content="Ogani, unica, creative, html">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Mobile Estore</title>

<!-- Google Font -->
<link
	href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap"
	rel="stylesheet">

<!-- Css Styles -->
<link rel="stylesheet" href="/client/css/bootstrap.min.css"
	type="text/css">
<link rel="stylesheet" href="/client/css/font-awesome.min.css"
	type="text/css">
<link rel="stylesheet" href="/client/css/elegant-icons.css"
	type="text/css">
<link rel="stylesheet" href="/client/css/nice-select.css"
	type="text/css">
<link rel="stylesheet" href="/client/css/jquery-ui.min.css"
	type="text/css">
<link rel="stylesheet" href="/client/css/owl.carousel.min.css"
	type="text/css">
<link rel="stylesheet" href="/client/css/slicknav.min.css"
	type="text/css">
<link rel="stylesheet" href="/client/css/style.css" type="text/css">
</head>

<body>

	<!-- Header header Begin -->
	<header class="header">
		<div th:replace="/layout/header"></div>
	</header>
	<!-- Header header End -->

	<!-- Cart Details Begin -->
	<div class="container ">
		<div class="row mt-5">
			<div class="col-8 pl-0">
				<div class="table-responsive">
					<table class="table">
						<thead>
							<tr>
								<th scope="col">Sản phẩm</th>
								<th scope="col">Tên sản phẩm</th>
								<th scope="col">Gía bán</th>
								<th scope="col">A</th>
								<th scope="col">B</th>
								<th scope="col">Heading</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th scope="row">1</th>
								<td>Cell</td>
								<td>Cell</td>
								<td>Cell</td>
								<td>Cell</td>
								<td>Cell</td>
							</tr>
							<tr>
								<th scope="row">2</th>
								<td>Cell</td>
								<td>Cell</td>
								<td>Cell</td>
								<td>Cell</td>
								<td>Cell</td>
							</tr>
							<tr>
								<th scope="row">3</th>
								<td>Cell</td>
								<td>Cell</td>
								<td>Cell</td>
								<td>Cell</td>
								<td>Cell</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="col-4 pr-0 border-left">
				<div>
					<div class="titlea text-center">
						<h5 class="font-weight-normal">TỔNG TIỀN GIỎ HÀNG</h5>
					</div>
					<hr />
					<div class="bodyaa">
						<div class="d-flex">
							<div class="">TỔNG SẢN PHẨM</div>
							<div class="ml-auto">12</div>
						</div>
						<div class="d-flex mt-3 mb-3">
							<div class="">TỔNG TIỀN HÀNG</div>
							<div class="ml-auto">12</div>
						</div>
						<div class="d-flex">
							<div class="">THÀNH TIỀN</div>
							<div class="ml-auto">12</div>
						</div>
					</div>
					<hr />
					<div class="d-flex mb-3">
							<div class="">TẠM TÍNH</div>
							<div class="ml-auto">12</div>
					</div>
					<span class="text-danger pt-5 text-center">
						Bạn được miễn phí ship khi đơn hàng có giá trị trên 2,000,000vnđ
					</span>
					<div class="d-flex justify-content-center mt-4">
						<button type="button" class="btn btn-outline-primary mr-2">TIẾP TỤC MUA SẮM</button>
						<button type="button" class="btn btn-dark">THANH TOÁN</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Cart Details End -->


	<!-- Customer information Begin -->

	<!-- Customer information End -->

	<!-- Footer Section Begin -->
	<footer class="footer spad">
		<div th:replace="/layout/footer"></div>
	</footer>
	<!-- Footer Section End -->

	<!-- Js Plugins -->
	<script src="/client/js/jquery-3.3.1.min.js"></script>
	<script src="/client/js/bootstrap.min.js"></script>
	<script src="/client/js/jquery.nice-select.min.js"></script>
	<script src="/client/js/jquery-ui.min.js"></script>
	<script src="/client/js/jquery.slicknav.js"></script>
	<script src="/client/js/mixitup.min.js"></script>
	<script src="/client/js/owl.carousel.min.js"></script>
	<script src="/client/js/main.js"></script>



</body>

</html>