<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zxx">

<head>
<meta charset="UTF-8">
<meta name="description" content="Ogani Template">
<meta name="keywords" content="Ogani, unica, creative, html">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Mobile Estore</title>

<!-- Google Font -->
<link
	href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap"
	rel="stylesheet">

<!-- Css Styles -->
<link rel="stylesheet" href="/client/css/bootstrap.min.css"
	type="text/css">
<link rel="stylesheet" href="/client/css/font-awesome.min.css"
	type="text/css">
<link rel="stylesheet" href="/client/css/elegant-icons.css"
	type="text/css">
<link rel="stylesheet" href="/client/css/nice-select.css"
	type="text/css">
<link rel="stylesheet" href="/client/css/jquery-ui.min.css"
	type="text/css">
<link rel="stylesheet" href="/client/css/owl.carousel.min.css"
	type="text/css">
<link rel="stylesheet" href="/client/css/slicknav.min.css"
	type="text/css">
<link rel="stylesheet" href="/client/css/style.css" type="text/css">
</head>

<body>

	<!-- Header header Begin -->
	<header class="header">
		<div th:replace="/layout/header"></div>
	</header>
	<!-- Header header End -->

	<!-- Cart Details Begin -->
	<section class="cart-details mt-5">
		<div class="container">
			<p class="text-primary">
				<i class="fa fa-reply"></i> Quay lại
			</p>
			<hr />
			<div class="card" style="width: 100%;">
				<div class="card-body">
					<div class="row">
						<div class="col-lg-3 col-md-3">
							<div class="product__details__pic">
								<div class="product__details__pic__item">
									<img class="product__details__pic__item--large"
										src="/client/img/cart/cart-1.jpg" alt="" width="300px">
								</div>

							</div>
							<div class="mt-3" style="text-align: center;">
								<a href="#"><img src="/client/img/cart/cancel-cart.png" alt=""></a>
							</div>
						</div>

						<div class="col-lg-6 col-md-6">
							<div class="product__details__text">
								<h3>
									<b>iPhone 14 Pro Max 1TB</b>
								</h3>
								<div>
									<a href="#" data-index="0" class="box__item item" id="color1"
										style="color: violet;">Tím</a> <a href="#" data-index="0"
										class="box__item item">1TB</a>
								</div>
								<table class="table table-light" border="1"
									style="width: 500px; margin-top: 10px; margin-bottom: 20px;">
									<tr>
										<th class="thead-light"
											style="background-color: rgb(195, 215, 232); text-align: center;">Khuyến
											mãi</th>
									</tr>
									<tr>
										<td><i class="fa fa-check-square"
											style="margin-top: 10px; margin-bottom: 20px;"></i> Đây là
											hàng khuyến mãi 1<br> <i class="fa fa-check-square"
											style="margin-bottom: 20px;"></i> Đây là hàng khuyến mãi 2<br>
											<i class="fa fa-check-square" style="margin-bottom: 10px;"></i>
											Đây là hàng khuyến mãi 3</td>
								</table>
							</div>
						</div>

						<div class="col-lg-3 col-md-3">
							<div class="row mb-2 ml-5 font-weight-normal"
								style="font-size: 25px;">
								<div class="product__details__price">43.990.000đ</div>
								&nbsp; &nbsp;
								<div class="product__details__price">
									<s>53.990.000đ</s>
								</div>
							</div>
							<div class="product__details__quantity">
								<div class="quantity">
									<p style="margin-bottom: 0px;">Số lượng:</p>
									<div class="pro-qty">
										<input type="text" value="1">
									</div>
								</div>
							</div>
						</div>

						<div class="col-12">
							<p class="total">
								Tổng giá (tạm tính): <b class="text-danger">43.990.000đ</b>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Cart Details End -->


	<!-- Customer information Begin -->
	<section class="customer-information mb-5">
		<div class="container">
			<div class="card" id="card-reviews">
				<div class="card-body">
					<h5 class="card-title">
						<b>Thông tin khách hàng</b>
					</h5>
					<div class="row">
						<div class="custom-control custom-radio col-2 ml-3">
							<input type="radio" id="customRadio1" name="customRadio"
								class="custom-control-input"> <label
								class="custom-control-label" for="customRadio1">Anh</label>
						</div>
						<div class="custom-control custom-radio col-2"
							style="margin-left: -120px;">
							<input type="radio" id="customRadio2" name="customRadio"
								class="custom-control-input"> <label
								class="custom-control-label" for="customRadio2">Chị</label>
						</div>
					</div>
					<div class="row mt-2">
						<div class="col-6">
							<input type="text" class="form-control" placeholder="Họ và tên">
						</div>
						<div class="col-6">
							<input type="text" class="form-control"
								placeholder="Số điện thoại">
						</div>
					</div>
					<div class="row mt-2">
						<form class="container">
							<div class="form-group">
								<textarea type="text" class="form-control"
									placeholder="Địa chỉ nhận hàng"></textarea>
							</div>
						</form>
					</div>
					<div class="mb-2">
						<select class="select" style="font-weight: 900;">
							<option selected>Mã giảm giá</option>
							<option value="1">Mã miễn phí vận chuyển</option>
							<option value="2">Mã hoàn xu</option>
						</select>
					</div>
					<br> <br>
					<div class="mb-5">
						<span>Pương thức thanh toán:</span> <a href="#" data-index="0"
							class="box__item item"
							style="margin-top: -5px; margin-left: 10px;">Thanh toán khi
							nhận hàng</a>
					</div>

					<a href="#" data-index="0" class="box__item item"
						id="button-feedback"
						style="background-color: rgb(228, 233, 237); width: 100%;">Đặt
						hàng</a><br>
				</div>
			</div>
		</div>
	</section>
	<!-- Customer information End -->

	<!-- Footer Section Begin -->
	<footer class="footer spad">
		<div th:replace="/layout/footer"></div>
	</footer>
	<!-- Footer Section End -->

	<!-- Js Plugins -->
	<script src="/client/js/jquery-3.3.1.min.js"></script>
	<script src="/client/js/bootstrap.min.js"></script>
	<script src="/client/js/jquery.nice-select.min.js"></script>
	<script src="/client/js/jquery-ui.min.js"></script>
	<script src="/client/js/jquery.slicknav.js"></script>
	<script src="/client/js/mixitup.min.js"></script>
	<script src="/client/js/owl.carousel.min.js"></script>
	<script src="/client/js/main.js"></script>



</body>

</html>