<div xmlns:th="http://www.thymeleaf.org" class="mb-4">
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<!-- Humberger Begin -->
	<div class="humberger__menu__overlay"></div>
	<div class="humberger__menu__wrapper">
		<div class="humberger__menu__logo">
			<a href="#">Mobile Estore</a>
		</div>
		<div class="humberger__menu__cart">
			<ul>
				<li><a href="#"><i class="fa fa-heart"></i> <b>Liên hệ</b>
				</a> &emsp;</li>
				<li class="active"><a href="/cart.html"><i
						class="fa fa-shopping-bag"></i><span>3</span> <b>Giỏ hàng</b> </a>
					&emsp;</li>
				<li><a href="#"><i class="fa fa-user"></i> <b>Tài khoản</b>
				</a></li>
			</ul>


		</div>
		<div class="humberger__menu__widget">
			<div class="header__top__right__language">
				<img src="img/language.png" alt="">
				<div>English</div>
				<span class="arrow_carrot-down"></span>
				<ul>
					<li><a href="#">Spanis</a></li>
					<li><a href="#">English</a></li>
				</ul>
			</div>
			<div class="header__top__right__auth">
				<a href="#"><i class="fa fa-user"></i>Login</a>
			</div>
		</div>
		<nav class="humberger__menu__nav mobile-menu">
			<ul>
				<li><a href="#">iPhone</a></li>
				<li><a href="#">Samsung</a></li>
				<li><a href="#">Xiaomi</a></li>
				<li><a href="#">Oppo</a></li>
				<li><a href="#">Nokia</a></li>
				<li><a href="#">Vivo</a></li>
				<li><a href="#">Realme</a></li>
				<li><a href="#">Sony</a></li>
			</ul>
		</nav>
		<div id="mobile-menu-wrap"></div>
		<div class="header__top__right__social">
			<a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i
				class="fa fa-twitter"></i></a> <a href="#"><i class="fa fa-linkedin"></i></a>
			<a href="#"><i class="fa fa-pinterest-p"></i></a>
		</div>
		<div class="humberger__menu__contact">
			<ul>
				<li><i class="fa fa-envelope"></i> hello@colorlib.com</li>
				<li>Free Shipping for all Order of $99</li>
			</ul>
		</div>
	</div>
	<!-- Humberger End -->

	<!-- Header Section Begin -->
	<header class="header">
		<div class="container">
			<div class="row">
				<div class="col-lg-3">
					<div class="header__logo">
						<a href="#" style="color: white;">Mobile Estore</a>
					</div>
				</div>
				<div class="col-lg-5">
					<div class="hero__search__form mt-3">
						<form action="#">
							<input type="text" placeholder="Bạn cần tìm gì?">
							<button type="submit" class="site-btn"><i class="fa fa-search"></i></button>
						</form>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="header__cart">
						<ul>
							<li><a href="#" style="color: white"><i class="fa fa-volume-control-phone text-light mr-2"></i> Liên hệ </a> &emsp;|</li>
							<li><a href="#" style="color: white"><i class="fa fa-shopping-bag text-light mr-2"></i><span>3</span>Giỏ hàng </a> &emsp;|</li>
							<li><a href="#" style="color: white"><i class="fa fa-user-circle-o text-light mr-2"></i>Tài khoản</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="humberger__open">
				<i class="fa fa-bars"></i>
			</div>
		</div>
	</header>
	<!-- Header Section End -->

	<!-- Hero Section Begin -->
	<section class="hero">
		<div class="row">
			<div class="col-lg-12">
				<nav class="header__menu">
					<ul>
						<li><a href="#">iPhone</a></li>
						<li><a href="#">Samsung</a></li>
						<li><a href="#">Xiaomi</a></li>
						<li><a href="#">Oppo</a></li>
						<li><a href="#">Nokia</a></li>
						<li><a href="#">Vivo</a></li>
						<li><a href="#">Realme</a></li>
						<li><a href="#">Sony</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</section>
	<!-- Hero Section End -->
</div>