<meta charset="utf-8"> 
<div xmlns:th="http://www.thymeleaf.org" class="mb-4">
	<!-- Humberger Begin -->
	<div class="humberger__menu__overlay"></div>
	<div class="humberger__menu__wrapper">
		<div class="humberger__menu__logo">
			<a href="#"style="color: black;">Mobile Estore</a>
		</div>
		<div class="humberger__menu__cart">
			<ul>
				<li><a href="#"><i class="fa fa-heart"></i> <b>Liên hệ</b></a> &emsp;</li>
				<li><a href="/cart"><i class="fa fa-shopping-bag"></i><b>Giỏ hàng</b> </a></li>
				<li><a href="#"><i class="fa fa-user"></i> <b>Tài khoản</b></a></li>
			</ul>


		</div>
		<div class="humberger__menu__widget">
			<div class="header__top__right__language">
				<img src="img/language.png" alt="">
				<div>English</div>
				<span class="arrow_carrot-down"></span>
				<ul>
					<li><a href="#">Spanis</a></li>
					<li><a href="#">English</a></li>
				</ul>
			</div>
			<div class="header__top__right__auth">
				<a href="#"><i class="fa fa-user"></i>Login</a>
			</div>
		</div>
		<nav class="humberger__menu__nav mobile-menu">
			<ul>
				<li><a href="#">iPhone</a></li>
				<li><a href="#">Samsung</a></li>
				<li><a href="#">Xiaomi</a></li>
				<li><a href="#">Oppo</a></li>
				<li><a href="#">Nokia</a></li>
				<li><a href="#">Vivo</a></li>
				<li><a href="#">Realme</a></li>
				<li><a href="#">Sony</a></li>
			</ul>
		</nav>
		<div id="mobile-menu-wrap"></div>
		<div class="header__top__right__social">
			<a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i
				class="fa fa-twitter"></i></a> <a href="#"><i class="fa fa-linkedin"></i></a>
			<a href="#"><i class="fa fa-pinterest-p"></i></a>
		</div>
		<div class="humberger__menu__contact">
			<ul>
				<li><i class="fa fa-envelope"></i> hello@colorlib.com</li>
				<li>Free Shipping for all Order of $99</li>
			</ul>
		</div>
	</div>
	<!-- Humberger End -->

	<!-- Header Section Begin -->
	<header class="header">
		<div class="container">
			<div class="row">
				<div class="col-lg-3">
					<div class="header__logo">
						<a href="/index" style="color: white;">Mobile Estore</a>
					</div>
				</div>
				<div class="col-lg-4 d-flex align-items-center justify-content-center p-0">
					<div class="hero__search__form">
						<form action="/product/search">
							<input name="Keywords" type="text" placeholder="Bạn cần tìm gì?">
							<button type="submit" class="site-btn"><i class="fa fa-search"></i></button>
						</form>
					</div>
				</div>
				<div class="col-lg-5 d-flex align-items-center justify-content-end p-0">
					<div class="header__cart">
						<ul style="font-size: 17px">
							<th:block th:unless="${#request.isUserInRole('NV') or #request.isUserInRole('QL')}">
								<li><a href="#" style="color: white" data-toggle="modal" data-target="#myModal"><i class="fa fa fa-phone text-light mr-2" style="font-size: 23px"></i> Liên hệ </a> &emsp;|</li>
								<li><a th:href="@{/cart}" style="color: white"><i class="fa fa-shopping-cart text-light mr-2" style="font-size: 23px"></i><span>{{cart.count}}</span>Giỏ hàng </a> &emsp;|</li>
							</th:block>
							<th:block th:if="${#request.remoteUser}">
								<li th:if="${#request.isUserInRole('NV') or #request.isUserInRole('QL')}">
									<a th:href="@{/admin/order/Processing}" style="color: white"><i class="fa fa-user-circle-o text-light mr-2 ml-2" style="font-size: 23px"></i>Admin</a>
									|
									<a th:href="@{/form/logout}" style="color: white"><i class="fa fa-sign-out text-light mr-2 ml-2" aria-hidden="true"></i>Đăng xuất</a>
								</li>
								<li th:unless="${#request.isUserInRole('NV') or #request.isUserInRole('QL')}">
									<a th:href="@{/index/thong-tin-tai-khoan}" style="color: white"><i class="fa fa-user-circle-o text-light mr-2" style="font-size: 23px"></i>Tài khoản</a>
								</li>
							</th:block>
							<th:block th:unless="${#request.remoteUser}">
								<li>
									<a th:href="@{/security/form/login}" style="color: white"><i class="fa fa-user-circle-o text-light mr-2" style="font-size: 23px"></i>Đăng nhập </a>
								</li>							
							</th:block>
							
						
						</ul>
					</div>
				</div>
			</div>
			<div class="humberger__open">
				<i class="fa fa-bars"></i>
			</div>
		</div>
	</header>
	<!-- Header Section End -->

	<!-- Hero Section Begin -->
	<section class="hero">
		<div class="row">
			<div class="col-lg-12">
				<nav class="header__menu">
					<ul class="inline-block">
						<th:block th:each="h:${hangsx}">
							<li><a th:href="|/product/${h.maHang}|"><b th:text="${h.tenHang}" data-user="${h.maHang}"></b></a></li>
						</th:block>
					</ul>
				</nav>
			</div>
		</div>
	</section>
	<!-- Hero Section End -->

	<!-- The Modal -->
	<div class="modal" id="myModal">
		<div class="modal-dialog">
			<div class="modal-content">

				<!-- Modal Header -->
				<div class="modal-header">
					<h4 class="modal-title text-center">Thông tin liên hệ</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>

				<!-- Modal body -->
				<div class="modal-body">
					<h5><b>Số điện thoại: </b>+65 11.188.888</h5> <br />
					<h5><b>Email: </b>website@mobilestore.com</h5>
				</div>

				<!-- Modal footer -->
				<div class="modal-footer">
					<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
				</div>

			</div>
		</div>
	</div>



</div>