<meta charset="utf-8"> 
<div xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/main :: dynamic (~{::main})}">
	<main>
		<!-- Hero Section Begin -->
		<section class="hero">
			<div class="container">
				<div class="row">
					<div class="col-8">
						<div id="carouselExampleIndicators" class="carousel slide"
							data-ride="carousel">
							<div class="carousel-inner rounded border border-secondary">
								<div class="carousel-item active">
									<img class="d-block w-100" src="/client/img/hero/banner-1.jpg"
										alt="First slide">
								</div>
								<div class="carousel-item">
									<img class="d-block w-100" src="/client/img/hero/banner-2.jpg"
										alt="Second slide">
								</div>
								<div class="carousel-item">
									<img class="d-block w-100" src="/client/img/hero/banner-3.jpg"
										alt="Third slide">
								</div>
							</div>
							<ol class="carousel-indicators">
								<li data-target="#carouselExampleIndicators" data-slide-to="0"
									class="active"></li>
								<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
								<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
							</ol>
							<a class="carousel-control-prev"
								href="#carouselExampleIndicators" role="button"
								data-slide="prev"> <span class="carousel-control-prev-icon"
								aria-hidden="true"></span> <span class="sr-only">Previous</span>
							</a> <a class="carousel-control-next"
								href="#carouselExampleIndicators" role="button"
								data-slide="next"> <span class="carousel-control-next-icon"
								aria-hidden="true"></span> <span class="sr-only">Next</span>
							</a>
						</div>

					</div>

					<div class="col-4">
						<div class="row">
							<div class="col-md-6 pl-0">
								<a href="https://www.youtube.com/watch?v=FT3ODSg1GFE"> <img
									height="130px" alt="" class="rounded"
									src="/client/img/banner/iphone.jpg">
								</a>
							</div>
							<div class="col-md-6 pl-0" style="margin-left: -5px">
								<a href="https://www.youtube.com/watch?v=iq5aUUETl0o"> <img
									height="130px" alt="" class="rounded" src="/client/img/banner/oppo.jpg">
								</a>
							</div>
						</div>
						<div class="row mt-2">
							<div class="col-md-6 pl-0">
								<a href="https://www.youtube.com/watch?v=FzshLMEVbrU"> <img
									height="130px" alt="" class="rounded"
									src="/client/img/banner/samsung.jpg">
								</a>
							</div>
							<div class="col-md-6 pl-0" style="margin-left: -5px">
								<a href="https://www.youtube.com/watch?v=rZm4gg5CvWc"> <img
									height="130px" alt="" class="rounded"
									src="/client/img/banner/xiaomi.jpg">
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Hero Section End -->

		<div class="container mt-4">
			<div class="slider-parent pb-2 rounded">
				<div class="title">sản phẩm được mua nhiều nhất</div>
				<div class="slider-child">
					<div class="row no-gutters">
						<div class="categories__slider owl-carousel">
							
							<div class="card-groups col-lg-3 p-0" th:each="sp: ${top5sp}">
								<div class="border card-cascade card-ecommerce wider">
									<!--Card image-->
									<th:block th:each="img: ${images}"> 
										<a th:href="@{|/product/detail/${sp.group.maSP}|}">
											<div class="view product-frame view-cascade overlay text-center">
												<img class="mt-4 img-org" th:if="${img.masp.maSP == sp.group.maSP}"                           
													th:src="@{|/client/img/product/${img.hinhAnh}|}" alt=""  width="210" height="240">
											</div>
										</a>
									</th:block>
									<!--Card Body-->
									<div class="card-body">
										<!--Card Title-->
										<h5 class="title-product text-truncate" th:text="${sp.group.tenSP}"></h5>
										<div class="price">
											<span class="price-new" th:text="${#numbers.formatDecimal(sp.group.donGia - (((sp.group.donGia)/100)*10), 0, 'COMMA', 0, 'POINT')}"></span><span class="text-danger">đ</span>
											<span class="price-old" th:text="${#numbers.formatDecimal(sp.group.donGia, 0, 'COMMA', 0, 'POINT')}"></span>đ
										</div>
									</div>
								</div>
							</div>
						</di>
					</div>
				</div>
			</div>
		</div>
	</div>

		<!-- Title Desgn Start -->
		<div class="container mb-3 mt-4">
			<div class="d-flex">
				<span class="title-phone">Tất cả điện thoại</span>
			</div>
		</div>
		<!-- Title Desgn End -->

		<!-- View Product Start -->
		<div class="container container-body">
			<div class="card-group">
				<div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-5 row-cols-xl-5 no-gutters">

					<div class="col" th:each="listdt: ${listdt}">
						<div class="border product-img">
							<!--Card image-->
							<th:block th:each="img: ${images}">
								<a th:href="@{|/product/detail/${listdt.maSP}|}">
									<div class="view product-frame view-cascade overlay text-center" th:if="${img.masp.maSP == listdt.maSP}">
										<img class="mt-4 img-org" width="210" height="210"
											th:src="@{|/client/img/product/${img.hinhAnh}|}" alt="error">
									</div>
								</a>
							</th:block>
							<!--Card Body-->
							<div class="card-body card-body-cascade text-left">
								<!--Card Title-->
								<h5 class="title text-truncate" th:text="${listdt.tenSP}"></h5>
								<div class="price">
									<span class="price-new"
										th:text="${#numbers.formatDecimal(listdt.donGia - (((listdt.donGia)/100)*10), 0, 'COMMA', 0, 'POINT')}"></span><span style="color: red">đ</span>
									<span class="price-old" th:text="${#numbers.formatDecimal(listdt.donGia, 0, 'COMMA', 0, 'POINT')}"></span>đ
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
			
			<!-- Page Product Begin -->
			<ul class="pagination mt-3 d-flex justify-content-center">
				<li class="page-item"><a class="page-link text-dark" th:href="@{|/index?p=0|}">First</a></li>
				<li class="page-item"><a class="page-link text-dark" th:href="@{|/index?p=${listdt.getNumber() > 0 ? listdt.getNumber() - 1 : 0}|}">Previous</a></li>
				<li class="page-item"><a class="page-link text-dark" th:href="@{|/index?p=${listdt.getNumber() < listdt.getTotalPages() - 1 ? listdt.getNumber() + 1 : listdt.getTotalPages() - 1}|}">Next</a></li>
				<li class="page-item"><a class="page-link text-dark" th:href="@{|/index?p=${listdt.getTotalPages() - 1}|}">Last</a></li>
			</ul>
			<!-- Page Product End -->
			
		</div>
		<!-- View Product End -->

		<!-- Title Desgn Start -->
		<div class="container mb-3 mt-4">
			<div class="d-flex">
				<span class="title-phone"> Tất cả phụ kiện </span>
			</div>
		</div>
		<!-- Title Desgn End -->

		<!-- slider start -->
		<div class="container mt-4 p-0" style="background-color: #efefef">
			<div class="slider-parent2a pb-2 pt-3 rounded">
				<div class="slider-child2">
					<div class="slider-accessory">
						<div class="row no-gutters">
							<div class="categories__slider owl-carousel">
								<div class="card-groups col-lg-3 p-0"
									th:each="listpk: ${listpk}">
									<div class="border card-cascade card-ecommerce wider">
										<!--Card image-->
										<th:block th:each="img: ${images}">
											<a th:href="@{|/product/detail/${listpk.maSP}|}">
												<div class="view product-frame view-cascade overlay text-center">
													<img class="mt-4 img-org" width="210" height="240"
														th:if="${img.masp.maSP == listpk.maSP}"
														th:src="@{|/client/img/product/${img.hinhAnh}|}"
														alt="error">
												</div>
											</a>
										</th:block>
										<!--Card Body-->
										<div class="card-body">
											<h5 class="title-product text-truncate"
												th:text="${listpk.tenSP}"></h5>
											<div class="price">
												<span class="price-new"
													th:text="${#numbers.formatDecimal(listpk.donGia - (((listpk.donGia)/100)*10), 0, 'COMMA', 0, 'POINT')}"></span></span><span
													style="color: red">đ</span> <span class="price-old"
													th:text="${#numbers.formatDecimal(listpk.donGia, 0, 'COMMA', 0, 'POINT')}"></span>đ
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- slider end -->


	</main>
</div>