<meta charset="utf-8"> 
<div xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/layout/main :: dynamic (~{::main})}"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
	<main>

		<th:block th:unless="${#request.remoteUser}">
			<span th:insert="~{/form/dangnhap::main}"></span>
		</th:block>

		<!-- form user start -->
		<th:block th:if="${#request.remoteUser}">
			<div class="grid-members">
				<!-- Tabs form -->
				<div class="grid-item">
					<div class="user-menu-side">
						<div class="user-name">
							<img onerror=""
								src="https://didongthongminh.vn/images/logo-user.svg"
								alt="avatar" class="img-responsive">
							<div class="name">
								<!-- [[${#request.userPrincipal.principal.username}]] -->
								Xin chào, <span sec:authentication="name"></span>
							</div>
						</div>
						<ul>
						<li class="">
							<a href="/index/thong-tin-tai-khoan"> 
								<i class="fa fa-user" aria-hidden="true"></i> Thông tin tài khoản
							</a>
						</li>
						<li class="active">
							<a href="/index/order-management"> 
								<i class="fa fa-wpforms" aria-hidden="true"></i> Quản lí đơn hàng
							</a>
						</li>
						<li class="">
							<a href="/index/doimk"> 
								<i class="fa fa-lock" aria-hidden="true"></i> Đổi mật khẩu
							</a>
						</li>
						<li>
							<a href="/form/logout"> 
								<i class="fa fa-power-off" aria-hidden="true"></i> Đăng xuất
							</a>
						</li>
					</ul>
					</div>
				</div>

				<!-- Forms -->
				<div class="grid-item">
					<div class="user-content-side">
						<h3 class="member-title mb-3 text-center">Quản lý đơn hàng</h3>

						<div class="list-order-member">
							<table class="table table-order-member">
								<thead>
									<tr>
										<th>Ngày tạo</th>
										<th>Địa chỉ</th>
										<th>Tổng tiền</th>
										<th>Trạng thái</th>
										<th></th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="dh: ${makh}">
										<td data-title="Ngày"
											th:text="${#dates.format(dh.ngayTao, 'dd/MM/yyyy')}"></td>
										<td data-title="Địa chỉ" th:text="${dh.makh.diaChi}"></td>
										<td data-title="Tổng tiền">[[${#numbers.formatDecimal(dh.tongTien, 0, 'COMMA', 0, 'POINT')}]] VNĐ</td>
										<td data-title="Trạng thái" th:if="${dh.trangThai} == 'Processing' ">Đang xử lý</td>
										<td data-title="Trạng thái" th:if="${dh.trangThai} == 'Complete' ">Hoàn thành</td>
										<td data-title="Trạng thái" th:if="${dh.trangThai} == 'Cancel' ">Hủy đơn hàng</td>
										<td>
											<a th:href="@{|/index/order/chiTietDonHang/${dh.maDon}|}" class="btn btn-info btn-block btn-sm p-1"> Xem Chi Tiết </a>
										</td>
										<td th:unless="${dh.trangThai == 'Complete' || dh.trangThai == 'Cancel'}">
											<a th:href="@{|/index/order/cancel/${dh.maDon}|}" class="btn btn-danger btn-block btn-sm text-light p-1"> Huỷ đơn hàng </a>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</th:block>
		<!-- form user end -->

	</main>

</div>







