<meta charset="utf-8">
<div xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/main :: dynamic (~{::main})}">
	<main>
   <!-- Hero Section Begin -->
		<section class="hero">
			<div class="container">
				<div class="row">
					<div class="col-8">
						<div id="carouselExampleIndicators" class="carousel slide"
							data-ride="carousel">
							<div class="carousel-inner rounded border border-secondary">
								<div class="carousel-item active">
									<img class="d-block w-100" src="/client/img/hero/banner-1.jpg"
										alt="First slide">
								</div>
								<div class="carousel-item">
									<img class="d-block w-100" src="/client/img/hero/banner-2.jpg"
										alt="Second slide">
								</div>
								<div class="carousel-item">
									<img class="d-block w-100" src="/client/img/hero/banner-3.jpg"
										alt="Third slide">
								</div>
							</div>
							<ol class="carousel-indicators">
								<li data-target="#carouselExampleIndicators" data-slide-to="0"
									class="active"></li>
								<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
								<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
							</ol>
							<a class="carousel-control-prev"
								href="#carouselExampleIndicators" role="button"
								data-slide="prev"> <span class="carousel-control-prev-icon"
								aria-hidden="true"></span> <span class="sr-only">Previous</span>
							</a> <a class="carousel-control-next"
								href="#carouselExampleIndicators" role="button"
								data-slide="next"> <span class="carousel-control-next-icon"
								aria-hidden="true"></span> <span class="sr-only">Next</span>
							</a>
						</div>

					</div>

					<div class="col-4">
						<div class="row">
							<div class="col-md-6 pl-0">
								<a href="https://www.youtube.com/watch?v=FT3ODSg1GFE"> <img
									height="130px" alt="" class="rounded"
									src="/client/img/banner/iphone.jpg">
								</a>
							</div>
							<div class="col-md-6 pl-0" style="margin-left: -5px">
								<a href="https://www.youtube.com/watch?v=iq5aUUETl0o"> <img
									height="130px" alt="" class="rounded" src="/client/img/banner/oppo.jpg">
								</a>
							</div>
						</div>
						<div class="row mt-2">
							<div class="col-md-6 pl-0">
								<a href="https://www.youtube.com/watch?v=FzshLMEVbrU"> <img
									height="130px" alt="" class="rounded"
									src="/client/img/banner/samsung.jpg">
								</a>
							</div>
							<div class="col-md-6 pl-0" style="margin-left: -5px">
								<a href="https://www.youtube.com/watch?v=rZm4gg5CvWc"> <img
									height="130px" alt="" class="rounded"
									src="/client/img/banner/xiaomi.jpg">
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Hero Section End -->

    <!-- Product Section Begin -->
		<section class="product spad p-3">
			<div class="container">
				<div class="row">
					<div class="row box-filter">
						<div class="dropdown p-2">
							<button class="btn btn-light dropdown-toggle"
								style="height: 50px; border-color: #E0E0E0" type="button"
								id="dropdownMenuButton" data-toggle="dropdown"
								aria-haspopup="true" aria-expanded="false">Giá</button>
							<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
								<a>
								<span></span> <span></span>
								</a>
								
								<a class="dropdown-item"
									th:href="@{|/product/dongia/0den2000000|}"></span>Dưới
									2 triệu</a> <a class="dropdown-item"
									th:href="@{|/product/dongia/2000000den4000000|}"> Từ
									2 - 4 triệu </a> <a class="dropdown-item"
									th:href="@{|/product/dongia/4000000den7000000|}">Từ 4 - 7 triệu </a> <a
									class="dropdown-item" th:href="@{|/product/dongia/7000000den13000000|}">Từ 7 -
									13 triệu </a> <a class="dropdown-item"
									th:href="@{|/product/dongia/13000000den20000000|}">Từ
									13 - 20 triệu </a> <a class="dropdown-item" th:href="@{|/product/dongia/20000000den100000000|}">Trên 20
									triệu </a>
							</div>
						</div>

						<div class="dropdown p-2" >
							<button class="btn btn-light dropdown-toggle"
								style="height: 50px; border-color: #E0E0E0" type="button"
								id="dropdownMenuButton" data-toggle="dropdown"
								aria-haspopup="true" aria-expanded="false" >Ram</button>
							<div class="dropdown-menu" aria-labelledby="dropdownMenuButton" >	<a
									class="dropdown-item"  th:href="@{|/product/ram/2GB|}">2 GB</a> <a
									class="dropdown-item" th:href="@{|/product/ram/3GB|}">3 GB</a>						
								<a class="dropdown-item" th:href="@{|/product/ram/4GB|}" >4 GB</a> <a
									class="dropdown-item"  th:href="@{|/product/ram/6GB|}">6 GB</a> <a
									class="dropdown-item" th:href="@{|/product/ram/8GB|}">8 GB</a>
									<a
									class="dropdown-item" th:href="@{|/product/ram/12GB|}">12 GB</a>
							</div>
						</div>
						<div class="dropdown p-2">
							<button class="btn btn-light dropdown-toggle"
								style="height: 50px; border-color: #E0E0E0" type="button"
								id="dropdownMenuButton" data-toggle="dropdown"
								aria-haspopup="true" aria-expanded="false">Bộ nhớ trong</button>
							<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">	
								<a class="dropdown-item" th:href="@{|/product/rom/32GB|}">32GB</a> <a
									class="dropdown-item" th:href="@{|/product/rom/64GB|}">64GB</a> <a
									class="dropdown-item" th:href="@{|/product/rom/128GB|}">128GB</a>
									<a
									class="dropdown-item" th:href="@{|/product/rom/512GB|}">512GB</a>

							</div>
						</div>
						<div class="dropdown p-2">
							<button class="btn btn-light dropdown-toggle"
								style="height: 50px; border-color: #E0E0E0" type="button"
								id="dropdownMenuButton" data-toggle="dropdown"
								aria-haspopup="true" aria-expanded="false">Hệ điều hành</button>
							<div class="dropdown-menu" aria-labelledby="dropdownMenuButton"
								name="hedh">
								<a class="dropdown-item" th:href="@{|/product/hedh/Android|}">Android</a>
								<a class="dropdown-item" 
									th:href="@{|/product/hedh/(IOS)|}">Iphone(IOS)</a>
							</div>
						</div>
						<div class="dropdown p-2">
							<button class="btn btn-light dropdown-toggle"
								style="height: 50px; border-color: #E0E0E0" type="button"
								id="dropdownMenuButton" data-toggle="dropdown"
								aria-haspopup="true" aria-expanded="false">Phân loại</button>
							<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
							<a class="dropdown-item" th:href="@{|/product|}">Tất cả sản phẩm
									</a>
								<a class="dropdown-item" th:href="@{|/product/loaisp/DT|}">Điện
									thoại</a> <a class="dropdown-item" href="/product/loaisp/PK"
									value="Iphone" name="hedh">Phụ kiện</a>
							</div>
						</div>
						<div class="dropdown p-2" >
							<button class="btn btn-light dropdown-toggle"
								style="height: 50px; border-color: #E0E0E0" type="button"
								id="dropdownMenuButton" data-toggle="dropdown"
								aria-haspopup="true" aria-expanded="false">Hãng</button>
							<div class="dropdown-menu" aria-labelledby="dropdownMenuButton" >
							<th:block th:each="ha : ${hangsx}">
								<a class="dropdown-item" th:text="${ha.tenHang}" th:href="|/product/${ha.maHang}|">4 GB</a> 
							</th:block>
							</div>
						</div>
						<div class="dropdown p-2">
							<button class="btn btn-light dropdown-toggle"
								style="height: 50px; border-color: #E0E0E0" type="button"
								id="dropdownMenuButton" data-toggle="dropdown"
								aria-haspopup="true" aria-expanded="false">Sắp xếp</button>
							<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
								<a class="dropdown-item" th:href="@{|?sort=ASC|}">Giá
									tăng dần</a> <a class="dropdown-item"
									th:href="@{|?sort=DESC|}">Giá giảm dần</a>
							</div>
						</div>
						
					</div>
				</div>

			</div>

		</section>
		<!-- Product Section End -->
    <div class="container container-body">
			<div class="card-group">
				<div
					class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-5 row-cols-xl-5 no-gutters">
					<div class="col" th:each="listsp: ${listsp}">
						<div class="border product-img">
							<!--Card image-->
							<th:block th:each="img: ${images}">
								<a th:href="@{|/product/detail/${listsp.maSP}|}">
									<div class="view product-frame view-cascade overlay text-center" th:if="${img.masp.maSP == listsp.maSP}">
										<img class="mt-4 img-org" width="210" height="210"
											th:src="@{|/client/img/product/${img.hinhAnh}|}" alt="error">
									</div>
								</a>
							</th:block>
							<!--Card Body-->
							<div class="card-body card-body-cascade text-left">
								<!--Card Title-->
								<h5 class="title text-truncate" th:text="${listsp.tenSP}"></h5>
								<div class="price">
									<span class="price-new"
										th:text="${#numbers.formatDecimal(listsp.donGia - (((listsp.donGia)/100)*10), 0, 'COMMA', 0, 'POINT')}"></span></span><span style="color: red">đ</span>
									<span class="price-old" th:text="${#numbers.formatDecimal(listsp.donGia, 0, 'COMMA', 0, 'POINT')}"></span>đ
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
			
			<ul class="pagination mt-3 d-flex justify-content-center">
					<li class="page-item"><a class="page-link text-dark" th:href="@{|?p=0|}">First</a></li>
					<li class="page-item"><a class="page-link text-dark" th:href="@{|?p=${listsp.getNumber() > 0 ? listsp.getNumber() - 1 : 0}|}" >Previous</a></li>
					<li class="page-item"><a class="page-link text-dark" th:href="@{|?p=${listsp.getNumber() < listsp.getTotalPages() -1 ? listsp.getNumber() + 1 : listsp.getTotalPages() -1}|}">Next</a></li>
					<li class="page-item"><a class="page-link text-dark" th:href="@{|?p=${listsp.getTotalPages() - 1}|}">Last</a></li>
			</ul>
			
		</div>
		<!-- 
		<div class="container ">
			<div class="mt-3 mb-5 d-flex justify-content-center">
				<ul class="pagination">
					<li class="page-item"><a class="page-link text-dark" th:href="@{|?p=0|}">First</a></li>
					<li class="page-item"><a class="page-link text-dark" th:href="@{|?p=${listsp.getNumber() > 0 ? listsp.getNumber() - 1 : 0}|}" >Previous</a></li>
					<li class="page-item"><a class="page-link text-dark" th:href="@{|?p=${listsp.getNumber() < listsp.getTotalPages() -1 ? listsp.getNumber() + 1 : listsp.getTotalPages() -1}|}">Next</a></li>
					<li class="page-item"><a class="page-link text-dark" th:href="@{|?p=${listsp.getTotalPages() - 1}|}">Last</a></li>
				</ul>
			</div>
		</div>
		 -->
    </main>
</div>