<meta charset="UTF-8">
<div xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/main :: dynamic (~{::main})}"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
	<main>
		<div class="grid-members">
			<!-- Tabs form -->
			<div class="grid-item">
					<div class="user-menu-side">
					<div class="user-name">
						<img onerror="" src="https://didongthongminh.vn/images/logo-user.svg" alt="avatar" class="img-responsive">
						<div class="name">
							Xin chào, <span th:if="${#request.remoteUser}" sec:authentication="name"></span>
									  <span th:unless="${#request.remoteUser}">Người dùng</span>
						</div>
					</div>
					<ul th:if="${#request.remoteUser}">
						<li class="">
							<a href="/index/thong-tin-tai-khoan"> 
								<i class="fa fa-user" aria-hidden="true"></i> Thông tin tài khoản
							</a>
						</li>
						<li class="">
							<a href="/index/order-management"> 
								<i class="fa fa-wpforms" aria-hidden="true"></i> Quản lí đơn hàng
							</a>
						</li>
						<li class="">
							<a href="/index/doimk"> 
								<i class="fa fa-lock" aria-hidden="true"></i> Đổi mật khẩu
							</a>
						</li>
						<li class="active">
							<a href="/index/quenmk"> 
								<i class="fa fa-unlock" aria-hidden="true"></i> Quên mật khẩu
							</a>
						</li>
						<li>
							<a href="/form/logout"> 
								<i class="fa fa-power-off" aria-hidden="true"></i> Đăng xuất
							</a>
						</li>
					</ul>
				</div>
			</div>
			
			<!-- Forms -->
			<div class="grid-item">
				<div class="user-content-side">
					<h3 class="member-title">Quên mật khẩu</h3>
					<hr/>
					<h5 class="text-danger text-center mt-3 mb-3">[[${message}]]</h5>
					<form th:action="@{/index/quenmk}" method="post" name="frmUser" id="frmUser">
						<div class="box-user">
							<label class="label-input" for="u_name">Tài khoản</label> <input
								type="text" name="username" id="u_name" 
								placeholder="Tài khoản" class="form-control">
						</div>
						<div class="box-user">
							<label class="label-input" for="u_email">Email</label> <input
								type="text" name="email" id="u_email"
								 placeholder="Email"
								class="form-control">
						</div>
						<div class="box-user box-submit">
							<button type="submit" class="submit-btn text-light" style="background-color: #7d9ad2; border: none; width: 100%; height: 45px; font-size: 17px;">Lấy lại mật khẩu</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</main>
</div>
