
<div id="layoutSidenav_nav" xmlns:th="http://www.thymeleaf.org">
	<nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
		<div class="sb-sidenav-menu">
			<div class="nav ">
				<div class="menu-bara">
					<div class="sb-sidenav-menu-heading ">
						<img src="/client/img/account.png" height="25px" class="me-3">
						Tài khoản
					</div>
				</div>
				<a class="nav-link" href="/taikhoan">
					<div class="sb-nav-link-icon">
						<i class="fas fa-tachometer-alt"></i>
					</div> Thông tin tài khoản
				</a> <a class="nav-link" href="/donhang">
					<div class="sb-nav-link-icon">
						<i class="fas fa-tachometer-alt"></i>
					</div> Quản lý đơn hàng
				</a> <a class="nav-link" href="/quenmk">
					<div class="sb-nav-link-icon">
						<i class="fas fa-tachometer-alt"></i>
					</div> Quên mật khẩu
				</a> <a class="nav-link" href="/doimk">
					<div class="sb-nav-link-icon">
						<i class="fas fa-tachometer-alt"></i>
					</div> Đổi mật khẩu
				</a> <a class="nav-link" href="/dangnhap">
					<div class="sb-nav-link-icon">
						<i class="fas fa-tachometer-alt"></i>
					</div> Đăng nhập
				</a> <a class="nav-link" href="/dangky">
					<div class="sb-nav-link-icon">
						<i class="fas fa-tachometer-alt"></i>
					</div> Đăng ký
				</a> <a class="nav-link" href="/dangxuat">
					<div class="sb-nav-link-icon">
						<i class="fas fa-tachometer-alt"></i>
					</div> Đăng xuất
				</a>
	</nav>
</div>
