<meta charset="utf-8"> 
<div id="layoutSidenav_nav" xmlns:th="http://www.thymeleaf.org">
	<nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
		<div class="sb-sidenav-menu">
			<div class="nav ">
				<div class="menu-bara">
					<div class="sb-sidenav-menu-heading ">
						<img src="/client/img/account.png" height="25px" class="me-3">
						Tài Khoản
					</div>
				</div>
				<a class="nav-link" href="/index/thong-tin-tai-khoan">
					<div class="sb-nav-link-icon">
						<i class="fas fa-tachometer-alt"></i>
					</div> Thông Tin Tài Khoản
				</a> 
				<a class="nav-link" href="/donhang">
					<div class="sb-nav-link-icon">
						<i class="fas fa-tachometer-alt"></i>
					</div> Quản Lý Đơn Hàng
				</a> 
				<a class="nav-link" href="/index/quenmk">
					<div class="sb-nav-link-icon">
						<i class="fas fa-tachometer-alt"></i>
					</div>Quên Mật Khẩu
				</a> 
				<a class="nav-link" href="/index/doimk">
					<div class="sb-nav-link-icon">
						<i class="fas fa-tachometer-alt"></i>
					</div> Đổi Mật Khẩu
				</a> 
				<a class="nav-link" href="">
					<div class="sb-nav-link-icon">
						<i class="fas fa-tachometer-alt"></i>
					</div> Đăng Nhập
				</a> 
				<a class="nav-link" th:href="@{|/index/dangky|}">
					<div class="sb-nav-link-icon">
						<i class="fas fa-tachometer-alt"></i>
					</div> Đăng Ký
				</a>
				 <a class="nav-link" href="/dangxuat">
					<div class="sb-nav-link-icon">
						<i class="fas fa-tachometer-alt"></i>
					</div>Đăng Xuất
				</a>
	</nav>
</div>
